<form action="/users/edit" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="username" placeholder="Username">
    <input type="submit" value="submit">
</form>